#cron → backup sqlite → upload S3

#ec2:
sudo yum install -y awscli
aws s3 ls s3://nickbarban-n8n-backups

#local mac:
aws iam create-role \
--role-name n8n-backup-role \
--assume-role-policy-document '{
"Version":"2012-10-17",
"Statement":[
{
"Effect":"Allow",
"Principal":{"Service":"ec2.amazonaws.com"},
"Action":"sts:AssumeRole"
}
]}'
aws iam put-role-policy \
  --role-name n8n-backup-role \
  --policy-name n8n-backup-s3-policy \
  --policy-document '{
    "Version":"2012-10-17",
    "Statement":[
      {
        "Effect":"Allow",
        "Action":[
          "s3:PutObject",
          "s3:GetObject",
          "s3:ListBucket",
          "s3:DeleteObject"
        ],
        "Resource":[
          "arn:aws:s3:::nickbarban-n8n-backups",
          "arn:aws:s3:::nickbarban-n8n-backups/*"
        ]
      }
    ]
  }'
aws iam create-instance-profile --instance-profile-name n8n-backup-profile
aws iam add-role-to-instance-profile \
  --instance-profile-name n8n-backup-profile \
  --role-name n8n-backup-role
aws ec2 associate-iam-instance-profile \
  --region us-east-1 \
  --instance-id i-0213715060f96b811 \
  --iam-instance-profile Name=n8n-backup-profile

#ec2:
(crontab -l 2>/dev/null; echo "0 3 * * * /home/ec2-user/n8n-backup/backup.sh") | crontab -
ssh-keygen -t ed25519 -C "github-actions-deploy" -f ~/.ssh/github_actions_deploy -N ""
cat ~/.ssh/github_actions_deploy.pub
cat ~/.ssh/github_actions_deploy.pub >> ~/.ssh/authorized_keys && chmod 600 ~/.ssh/authorized_keys
cat ~/.ssh/github_actions_deploy
rm -f ~/.ssh/github_actions_deploy ~/.ssh/github_actions_deploy.pub
sed -i '/github-actions-deploy/d' ~/.ssh/authorized_keys
ssh-keygen -t ed25519 -C "github-actions-deploy" -f ~/.ssh/github_actions_deploy -N ""
cat ~/.ssh/github_actions_deploy.pub
cat ~/.ssh/github_actions_deploy.pub >> ~/.ssh/authorized_keys && chmod 600 ~/.ssh/authorized_keys
cat ~/.ssh/github_actions_deploy
#add secrets EC2_SSH_KEY,EC2_HOST,EC2_USER to github

#local mac:
aws ec2 authorize-security-group-ingress \
  --region us-east-1 \
  --group-id sg-0c72b503a7fc918a0 \
  --ip-permissions '[{"IpProtocol":"tcp","FromPort":22,"ToPort":22,"IpRanges":[{"CidrIp":"0.0.0.0/0","Description":"Temporary GitHub Actions SSH"}]}]'

@ec2:
ssh -o StrictHostKeyChecking=no -i ~/.ssh/github_actions_deploy ec2-user@localhost 'echo SSH_OK'
base64 -w 0 ~/.ssh/github_actions_deploy
#add secret EC2_SSH_KEY_B64 to github
